* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
}

/* Screens */

.screen {
  position: absolute;
  width: 100%;
  height: 100%;
}

.screen-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%
}

.start-game-screen,
.game-over-screen {
  font-size: 12pt;
  padding: 1em;
}

.start-game-screen,
.game-over-screen {
  background-image: url( "./images/backgrounds/screen_background.png");
  background-size: 26em;
}

.in-game-screen {
  background-image: url("./images/backgrounds/wood.jpg");
}

@media (aspect-ratio > 1) {
  .in-game-screen {
    background-size: 100vw auto;
  }
}

@media (aspect-ratio <= 1) {
  .in-game-screen {
    background-size: auto 100vh;
  }
}

.start-game-screen .title {
  width: 28em;
  display: block;
  position: relative;
  max-width: 100%;
  filter: drop-shadow(0 0 0.5em #222);
}

.start-button, .again-button {
  display: block;
  max-width: 100%;
  transition: transform 0.1s;
  filter: drop-shadow(0 0 0.5em #222);
  animation: start-button-animation 2s;
  animation-iteration-count: infinite;
}

.start-button {
  width: 14em;
}

.again-button {
  width: 16em;
}

.start-button:hover,
.again-button:hover {
  animation: none;
  transform: scale(1.1);
  cursor: pointer;
}

.start-button:active,
.again-button:active {
  transform: scale(1);
}

.start-game-screen menu {
  margin: 2em 0em;
}

.difficulty-button {
  margin: 0em 0.5em;
  opacity: 0.5;
  height: 1.8em;
  cursor: pointer;
  transition: transform 0.1s;
  filter: saturate(0.5) drop-shadow(0 0 0.3em #222);
}
.difficulty-button:hover {
  transform: scale(1.1);
  filter: saturate(1) drop-shadow(0 0 0.3em #222);
}

.difficulty-button:active {
  transform: scale(1);
  filter: drop-shadow(0 0 0.3em #222);
}

.difficulty-button.selected {
  opacity: 1;
  filter: saturate(1) drop-shadow(0 0 0.3em #222);
}

.well-done {
  width: 28em;
  max-width: 100%;
  margin: 3em 0em;
  display: block;
  filter: drop-shadow(0 0 0.3em #222);
}

@keyframes start-button-animation {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* Cards */

.card {
  position: relative;
  float: left;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  transform-style: preserve-3d;
  z-index: 10;
  width: 20vw;
  height: 20vw;
  margin: 0.5vw;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-out;
}
.card:active {
  transform: scale(1);
  transition: all 0s ease-out;
}

.card > .front,
.card > .back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card > .front {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(180deg);
  cursor: default;
  border: 5px solid beige;
}

.card > .back {
  cursor: pointer;
  background-image: url("./images/backgrounds/bg.jpg");
}

.imgVisible {
  animation: uncover-card 400ms ease-in-out;
  animation-fill-mode: forwards;
}

.imgHidden {
  animation: cover-card 400ms ease-in-out;
}

.rotation-container {
  list-style: none;
}

@keyframes cover-card {
  0% {
    transform: scale(1) rotateY(-180deg);
  }
  25% {
    transform: scale(1.5) rotateY(-160deg);
  }
  50% {
    transform: scale(1.5) rotateY(-90deg);
  }
  75% {
    transform: scale(1.5) rotateY(-20deg);
  }
  100% {
    transform: scale(1) rotateY(0deg);
  }
}

@keyframes uncover-card {
  0% {
    transform: scale(1) rotateY(0deg);
  }
  25% {
    transform: scale(1.5) rotateY(20deg);
  }
  50% {
    transform: scale(1.5) rotateY(90deg);
  }
  75% {
    transform: scale(1.5) rotateY(160deg);
  }
  100% {
    transform: scale(1) rotateY(180deg);
  }
}

ul.grid {
  position: relative;
  height: 100%;
  display: grid;
  padding: 2em;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

@media screen and (aspect-ratio > 0.29) {
  ul.hard {
    grid-template-columns: repeat(4, 1fr);
  }
  .hard .card {
    width: 22vw;
    height: 22vw;
  }
}

@media screen and (aspect-ratio > 0.35) {
  ul.hard {
    grid-template-columns: repeat(6, 1fr);
  }
  .hard .card {
    width: 15vw;
    height: 15vw;
  }
  ul.medium {
    grid-template-columns: repeat(4, 1fr);
  }
  .medium .card {
    width: 22vw;
    height: 22vw;
  }
  ul.easy {
    grid-template-columns: repeat(3, 1fr);
  }
  .easy .card {
    width: 30vw;
    height: 30vw;
  }
}

@media screen and (aspect-ratio > 0.75) {
  ul.hard {
    grid-template-columns: repeat(8, 1fr);
  }
  .hard .card {
    width: 11vw;
    height: 11vw;
  }
  ul.medium {
    grid-template-columns: repeat(6, 1fr);
  }
  .medium .card {
    width: 15vw;
    height: 15vw;
  }
  ul.easy {
    grid-template-columns: repeat(4, 1fr);
  }
  .easy .card {
    width: 22vw;
    height: 22vw;
  }
}

@media (aspect-ratio > 1.35) {
  ul.hard {
    grid-template-columns: repeat(12, 1fr);
  }
  .hard .card {
    width: 7vw;
    height: 7vw;
  }
  ul.medium {
    grid-template-columns: repeat(8, 1fr);
  }
  .medium .card {
    width: 11vw;
    height: 11vw;
  }
  ul.easy {
    grid-template-columns: repeat(6, 1fr);
  }
  .easy .card {
    width: 15vw;
    height: 15vw;
  }
}

@media (aspect-ratio > 2.7) {
  ul.hard {
    grid-template-columns: repeat(16, 1fr);
  }
  .hard .card {
    width: 5.1vw;
    height: 5.1vw;
  }
  ul.medium {
    grid-template-columns: repeat(12, 1fr);
  }
  .medium .card {
    width: 7vw;
    height: 7vw;
  }
}